@import './mixin.scss';
/*reset iview style*/
.w-layout {
    .ivu-btn,
    .ivu-alert-with-desc {
        border-radius: 1px;
    }
    .iv-notice__wrap {
        .ivu-notice-notice {
            box-shadow: none;
            border-radius: 1px;
            border: 1px solid $cf;
            &:hover {
                background-color: #fbfbfb;
                cursor: pointer;
            }
        }
    }
}
/* loading */
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
/*common style*/
.mt5 { @include mt(5px) }
.pt5 { @include pt(5px) }
.ml5 { @include ml(5px) }
.mt10 { @include mt(10px) }
.pl10 { @include pl(10px) }
.ml10 { @include ml(10px) }
.mt20 { @include mt(20px) }
.ml20 { @include ml(20px) }
.pl20 { @include pl(20px) }
.pd20 { @include padding(20px, 20px, 20px, 20px )}
.c-info { color: $info }
.c-success { color: $success }
.c-warning { color: $warning }
.c-error { color: $error }

.just-middle { @include wh(100%, 20px)}
.tac {text-align: center}
.tar {text-align: right}
.overview {
    background-color: $c8;
}
.overview-item {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.overview__item-title {
    @include sc(12px, $c6);
}
.overview__item-value {
    @include sc(24px, $c2);
    overflow: hidden;
    text-overflow: ellipsis;
}
.module-title {
    margin: 30px 0 10px;
    font-weight: 700;
    @include sc(14px, $black);
}

